.yellow{
  background-color: #ffBD00;
  padding: 2rem;
  border: solid .1rem;
  text-align: center;
  width: 550px;
  margin: 2rem;
  border-radius: 25px;
}

.orange{
    background-color: #FF5400;
    padding: 2rem;
    border: solid .1rem;
    text-align: center;
    width: 550px;
    margin: 2rem;
    border-radius: 25px;
    color: black;
  }

.pink{
    background-color: #FF0054;
    padding: 2rem;
    border: solid .1rem;
    text-align: center;
    width: 550px;
    margin: 2rem;
    border-radius: 25px;
    color: black;   
}
.magenta {
    background-color: #9e0059;
    padding: 2rem;
    border: solid .1rem;
    text-align: center;
    width: 550px;
    margin: 2rem;
    border-radius: 25px;
    color: black;   
}



.purple{
    background-color: #390099;
    padding: 2rem;
    border: solid .1rem;
    border-color: black;
    text-align: center;
    width: 550px;
    margin: 2rem;
    border-radius: 25px;
    color: white; 
}

.sansserif{
    font-family:'Montserrat', sans-serif;
    font-size: 18px;
}

.serif{
    font-family: 'Sahitya', serif;
}

ul {
    list-style: none;
    padding: 0;
  }

li {
    padding: 5px 10px;
  }